@use "sass:color";
@use "../variables/colours";
@use "../variables/spacing";
@use "../mq";


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: spacing.spacing('tiny') spacing.spacing('medium');
    color: colours.colour("white");
    text-decoration: none;
    text-align: center;
}

@each $name, $value in colours.$coloursMap {
    .button--#{$name}{
        cursor: pointer;
        background-color: $value;
        box-shadow: 2px 2px 0px 0px colours.colour("gray-3");

        &:hover {
        background-color: color.adjust($value, $lightness: 10%);
        }

        &:active {
            background-color: color.adjust($value, $lightness: -10%);
            transform: translate(1px, 1px);
            box-shadow: 1px 1px 0px 0px colours.colour("gray-2");
        }
    }
}

@each $name, $value in colours.$coloursMap {
    .pseudo-button--#{$name}{
        background-color: $value;
        box-shadow: 2px 2px 0px 0px colours.colour("gray-3");
    }
}

.button--basic {
    text-align: center;
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
    padding: spacing.spacing("tiny") spacing.spacing("tiny");
    line-height: 1em;
}
.button--basic-outline {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    padding: spacing.spacing("tiny") spacing.spacing("tiny");
    line-height: 1em;

    &:hover {
        background-color: color.adjust(grey, $lightness: 10%);
    }

    &:active {
        background-color: color.adjust(grey, $lightness: -10%);
        transform: translate(1px, 1px);
        box-shadow: 1px 1px 0px 0px colours.colour("gray-2");
    }

}