@use '../variables/spacing';

.console{
    &__output{
        ul {
            margin-left: 0;
        }
        li {
            margin-left: 0;
            list-style: none;
        }
        li {
            li{
                margin-left: spacing.spacing("huge");
            }
        }
    }
    &__input{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: spacing.spacing("small");
        width: 100%;
    }
    &-input {
        &__cwd{

        }
        &__textinput{
            all: unset;
            background-color: transparent;
            color: white;
            width: 100%;
        }
    }
}

