@use '../variables/spacing';
@use '../variables/colours';

.main-content {
    overflow: auto;
    min-height: 0;

    scrollbar-color: #ffffff #000000;
    scrollbar-width: thin;

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;

    }

    h4 {
        font-size: 1.0em;
    }

    h5 {
        font-size: 1.0em;

    }

    h6 {
        font-size: 1.0em;
    }

    p {
        font-size: 1.0em;
    }

    ul, ol {
        list-style-position: outside;
    }

    li {
        margin-left: spacing.spacing('large');
    }

    a{
        cursor: pointer;
        text-decoration: underline;
    }

    pre {
        margin: spacing.spacing("small");
        padding: spacing.spacing("small");
        border: 2px solid white;
        background-color: colours.colour("gray-1");
    }

    img{
        max-height: 200px;
        object-fit: contain;
        cursor: zoom-in;
    }
    .image-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        figure {
            padding: spacing.spacing("tiny");
            margin: spacing.spacing("tiny");
            width: fit-content;
            border: 2px solid white;
            display: flex;
            flex-direction: column;
            figcaption {
                padding-top: spacing.spacing("tiny");
                font-size: small;
            }
        }
        .modal-overlay{
            a {
                text-decoration: none;
            }
        }
    }
}