@use '../variables/spacing';

.toasts-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-direction: column-reverse;
    gap: spacing.spacing("small");
    margin: spacing.spacing("small");

    width: 15%;
}

.toast {
    max-width: 100%;
    padding: spacing.spacing("small");

    border: 2px solid white;
    background-color: black;
    
    text-align: center;
    color: white;
    text-wrap: wrap;

    animation: toast-slide-in 1.0s forwards;}

.toast-move {
    transition: transform 0.3s ease;
}
.toast-leave {
    background-color: red;
    // animation: toast-slide-out 1.0s forwards;
}

@keyframes toast-slide-in {
    from {
        translate: -10vw 0;
        opacity: 0;
    }
  
    to {
        translate: 0 0;
        opacity:1;
    }
}

@keyframes toast-slide-out {
    from {
        translate: 0 0;
        opacity:1;
    }
  
    to {
        translate: -10vw 0;
        opacity: 0;
    }
}


